* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: poppins, sans-serif;
    text-decoration: none;
}

body {
    overflow-x: hidden;
}

.hero-header {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background: #222;
}

.wrapper {
    width: 1280px;
    max-width: 95%;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    padding: 40px 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.logo i {
    height: 45px;
    width: 45px;
    background-color: #007ced;
    padding: 10px;
    margin-right: 5px;
    cursor: pointer;
    border-radius: 50%;
    color: #fff;
    font-weight: 700;
    font-size: 1.5rem;
    text-align: center;
}

.logo .logo-text {
    font-size: 24px;
    font-weight: 500;
    color: #fff;
}

nav .togglebtn {
    width: 35px;
    height: 35px;
    position: absolute;
    top: 45px;
    right: 3%;
    z-index: 5;
    cursor: pointer;
    /* background-color: #007ced; */
    display: none;
}

nav .togglebtn span {
    display: block;
    background-color: #007ced;
    margin: 5px 0px;
    width: 100%;
    height: 3px;
    transition: 0.3s;
    transition-property: transform, opacity;
}

nav .navlinks {
    list-style-type: none;
}

nav .navlinks li {
    display: inline-block;
}

nav .navlinks li a {
    color: #e5e5e5;
    margin-right: 2.5rem;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 4rem;
}

.container .hero-pic {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    border: 15px solid #444;
    box-shadow: 5px 7px 25px rgba(0, 0, 0, 0, 0.5);
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-pic img {
    height: 88%;
    width: 88%;
    border-radius: 50%;
    transition: 0.5s;
}

.hero-pic img:hover {
    transform: scale(1, 1.1);
}

.container .hero-pic:hover{
    background-color:#333;
}
.hero-text {
    max-width: 500px;
    display: flex;
    flex-direction: column;
}

.hero-text h5 {
    color: #e5e5e5;
    font-size: 14px;
}

.hero-text h5 span {
    color: #007ced;
    font-size: 14px;
}

.hero-text h1 {
    color: #007ced;
    font-size: 3rem;
}

.hero-text p {
    color: #e5e5e5;
}

.btn-group {
    margin: 45px 0;
    
}
.btn-group :nth-child(1):hover {
    border-color: #007ced;
    background-color: #222;
    color: #007ced;
}
.btn-group :nth-child(2):hover {
    border-color: #007ced;
    background-color: #222;
    color: #007ced;
}


.btn-group .btn {
    border-color: #d5d5d5;
    color: #fff;
    background-color: #333;
    padding: 12px 25px;
    margin: 5px 0;
    margin-right: 7px;
    border-radius: 30px;
    border: 2px solid #e5e5e5;
    box-shadow: 0 10px 10px -8px rgb(0, 0, 0 / 78%);
}

.btn.active {
    border-color: #007ced;
}

.hero-text .social i {
    color: #e5e5e5;
    font-size: 20px;
    margin-right: 10px;
    transition: 0.5s;
}

.hero-text .social i:hover {
    color: #007ced;
    transform: rotate(360deg);
}

/* resposive design & displaying navbar for small screen */
@media(max-width:930px) {
    nav .togglebtn {
        display: initial;
    }

    /* for toggle button */
    .click {
        top: 45px;
    }

    .click span {
        position: absolute;
        margin-top: 12px;
    }

    .click span:first-child {
        transform: rotate(-40deg);
    }

    .click span:nth-child(2) {
        opacity: 0;
        margin: 0;
    }

    .click span:last-child {
        transform: rotate(45deg);
        top: 0;
    }

    nav .navlinks {
        position: absolute;
        top: 110px;
        right: 100%;
        bottom: 0;
        width: 60%;
        height: 100vh;
        background-color: #222;
        z-index: 3;
        box-shadow: 5px 13px 30px rgba(0, 0, 0, 0, 0.1);
        transition: 0.5s;
        padding: 25px 0;
    }

    nav .navlinks li {
        display: block;
    }

    nav .navlinks li a {
        display: block;
        margin-bottom: 15px;
        text-align: center;
    }

    nav .navlinks.open {
        right: 0;

    }
}

@media(max-width:768px) {
    .container {
        flex-direction: column;
        padding-top: 2rem;
    }

    .hero-text {
        padding: 40px 0;
    }
}


footer {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    background-color: #222;
}

.footer {
    padding: 40px 0;
    /* background-color: #fff; */

}

.footer .social {
    text-align: center;
    padding-bottom: 25px;
    /* color: #4b4c4d; */

}

.footer .social a {
    font-size: 24px;
    background-color: white;
    border: 1px solid #ccc;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    opacity: 0.75;
}

.footer .social a:hover {
    opacity: 0.99;
    background-color: aliceblue;
    scale: 1.2;
}

.footer ul{
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}

.footer ul li a{
color: inherit;
text-decoration: none;
opacity: 0.8;
}

.footer ul li{
    display: inline-block;
    padding: 0 15px;
    color: white;
}

.footer ul li a:hover{
    opacity: 1;
}

.footer .copyright{
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    font-weight: 900;
    color: white;
    opacity: 0.8;
}

.footer .copyright:hover{
    opacity: 1;
}

